<!DOCTYPE html>
<html>
<head>
  <title>HopsDash</title>
  <%= stylesheet_link_tag(:index)%>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <%= yield %>
    </div>
</body>
</html>
